:root {
  --division: 4;
  --app-margin: 30px;

    /* Light theme */
    --light-text: #000000;
  
    /* Dark theme */
    --dark-text: #f5f5f5;
}

.App {
  width: calc(100% - 2 * var(--app-margin));
  margin: var(--app-margin);
  margin-bottom: 0px;
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(var(--division), 1fr);
  grid-template-rows: repeat(var(--division), 1fr);
  grid-auto-flow: dense;

}

.card {
  padding: 35px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 350px;
}

.card:hover {
  transform: translateY(-2px) translateX(2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}




.card-1x1 {
  grid-row: span 1;
  grid-column: span 1;
}

.card-1x2 {
  grid-row: span 2;
  grid-column: span 1;
}

.card-2x1 {
  grid-row: span 1;
  grid-column: span 2;
}

.card-2x2 {
  grid-row: span 2;
  grid-column: span 2;
}

.card-1x3 {
  grid-row: span 3;
  grid-column: span 1;
}

.card-3x1 {
  grid-row: span 1;
  grid-column: span 3;
}

.card-3x3 {
  grid-row: span 3;
  grid-column: span 3;
}

.card-2x3 {
  grid-row: span 3;
  grid-column: span 2;
}

.card-3x2 {
  grid-row: span 2;
  grid-column: span 3;
}


.card-2x4 {
  grid-row: span 4;
  grid-column: span 2;
}


@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}





.bg-color-lavender {
  background-color: #b8c0ff;
}

.bg-color-yellow {
  background-color: #ffbe0b;
}

.bg-color-blue {
  background-color: #65c1ff;
}

.bg-color-green {
  background-color: #2ec479;
}

.bg-color-offwhite {
  background-color: #ffffff;
}

.bg-color-red {
  background-color: #f23e3e;
}

.bg-color-black {
  background-color: #2f2f2f;
}

.bg-color-midnight {
  background-color: #1d0b53;
}


/* ... existing styles ... */
.social-icons {
  margin-top: 0px;
  
}

.social-icons a {
  margin: 20px; /* Adjust as needed */
  color: #000000; /* Or any color you prefer */
  text-decoration: none;
  display: absolute;
  justify-content: center; /* Horizontally center the items */
  align-items: center;    }

.social-icons i {
  font-size: 40px; /* Adjust size as needed */
}

/* ... existing styles ... */

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 5px 0px;
}

.tag {
  background-color: black;
  color: #f5f5f5;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 10px;

}

/* ... existing styles ... */

h3 {
  font-weight: 700;
  font-size: 28px;
  margin: 4px 0px 4px 0px; /* Remove margin */
  padding: 0; /* Remove padding */
}

h4 {
  font-weight: 600;
  font-size: 20px;
  margin: 3px 0px 3px 0px; /* Remove margin */
  padding: 0; /* Remove padding */
}

p { /* Assuming p is used for descriptions */
  font-weight: 400;
  font-size: 16px; 

}

p, h3, h4, .tags {
  max-width: 475px;
  word-spacing: 1px;
  line-height: 1.4;
}


.footer {
  position: relative;
  left: calc(-1 * var(--app-margin));
  width: calc(100% + 2 * var(--app-margin));
  background-color: black; /* Set background to black */
  color: white; /* Set font color to white */
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}

.card-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
  align-items: flex-start; /* Aligns content to the left */
}

.card-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
  align-items: flex-start; /* Aligns content to the left */
}

.card-center-middle {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns content to the center vertically */
  align-items: center;     /* Aligns content to the center horizontally */
}

/* ... your existing styles ... */

.card.light-theme {
  color: var(--light-text);
}

.card.dark-theme {
  color: var(--dark-text);
}


.button-link {
  background-color: rgba(255, 255, 255, 0.3); /* Translucent white background */
  border: none;
  padding: 7px 12px;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.button-link:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly less translucent on hover */
}